- hosts: all
  tasks:
    - name: Get commit hash
      local_action: shell git rev-parse --short HEAD
      register: git_hash

    - name: Create Services Folder
      file:
        path: "{{ service_path }}"
        state: directory
        mode: 0755
        owner: '{{ deploy_user }}'

    - name: Copy geoserver datadir
      ansible.posix.synchronize:
        src: "geoserver_data_dir"
        dest: "{{ service_path }}/"
        use_ssh_args: true
        recursive: yes

    - name: Copy compose file
      template:
        src: "templates/docker-compose.yml.j2"
        dest: "{{ service_path }}/docker-compose.yml.next"
      vars:
        TAG: "{{ git_hash.stdout }}"
        build_needed: false

    - name: Check if compose file exists
      stat:
        path: "{{ service_path }}/docker-compose.yml"
      register: compose_file

    - name: Stop compose and remove volumes
      command: docker compose -f {{ service_path }}/docker-compose.yml down -v
      when: compose_file.stat.exists

    - name: Replace older compose file with new one
      command: mv -f {{ service_path }}/docker-compose.yml.next {{ service_path }}/docker-compose.yml

    - name: Start compose
      command: docker compose -f {{ service_path }}/docker-compose.yml up -d
