- hosts: all
  remote_user: ubuntu
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
    - name: create user
      user:
        name: '{{ deploy_user }}'
        shell: /bin/bash

    - name: add .ssh folder
      file:
        path: /home/{{ deploy_user }}/.ssh
        state: directory
        owner: '{{ deploy_user }}'
        group: '{{ deploy_user }}'
        mode: 0700

    - name: copy authorized_keys
      copy:
        src: files/authorized_keys
        dest: /home/{{ deploy_user }}/.ssh/authorized_keys
        owner: '{{ deploy_user }}'

    - name: Install dependencies
      apt:
        name: [ ca-certificates, curl, gnupg ]
        state: present
        update_cache: yes

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        keyring: /etc/apt/keyrings/docker.gpg
        state: present

    - name: Add Docker APT repository
      apt_repository:
        repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ansible_distribution_release}} stable

    - name: Install Docker and dependencies
      apt:
        name: [ docker-ce, docker-ce-cli, containerd.io, docker-buildx-plugin, docker-compose-plugin, apt-transport-https, software-properties-common, rsync ]
        state: present
        update_cache: yes

    - name: Add "{{ deploy_user }}" user to "docker" group
      user:
        name: "{{ deploy_user }}"
        groups: docker
        append: yes

    - name: Install Fail2Ban
      apt:
        name: [ fail2ban ]
        state: present
        update_cache: yes

    - name: Restart failt2ban
      ansible.builtin.service:
        name: fail2ban
        state: restarted

    - name: Allow connections on multiple ports
      ansible.builtin.iptables:
        chain: INPUT
        protocol: tcp
        destination_ports:
          - "80"
          - "443"
          - "22"
        jump: ACCEPT

    - name: Create proxy ssl conf directory
      file:
        path: "{{ service_path }}"
        state: directory
        mode: 0755

    - name: Set directory owner
      file:
        path: "{{ service_path }}"
        state: directory
        mode: 0755
        owner: '{{ deploy_user }}'

    - name: Proxy ssl Docker-compose file
      template:
        src: "files/docker-compose.yml"
        dest: "{{ service_path }}/docker-compose.yml"

    - name: Copy proxy docker service
      copy:
        src: "files/proxy"
        dest: "{{ service_path }}"

    - name: Create services directory
      file:
        path: "{{ services_path }}"
        state: directory
        mode: 0755
        owner: "{{ deploy_user }}"

    - name: Start Docker Compose
      command: docker compose -f {{ service_path }}/docker-compose.yml up -d
      register: output
