- hosts: all
  remote_user: '{{ deploy_user }}'
  tasks:
    - name: Frontend env file
      local_action:
        module: ansible.builtin.template
        src: "templates/frontend_dotenv.j2"
        dest: "../client/.env"

    - name: build images
      local_action:
        module: ansible.builtin.shell
        cmd: export TAG=`git rev-parse --short HEAD` && docker compose -f docker/docker-compose.yml build

    - name: upload images
      local_action:
        module: ansible.builtin.shell
        cmd: export TAG=`git rev-parse --short HEAD` && docker save {{ item }}:${TAG} | bzip2 | ssh {{ deploy_user }}@{{ inventory_hostname }} docker load
      loop:
        - geomatico/taxomap-proxy
        - geomatico/taxomap-frontend
        - geomatico/taxomap-geoserver
        - geomatico/taxomap-db