- hosts: all
  connection: local
  tasks:
    - name: Frontend env file
      local_action:
        module: ansible.builtin.template
        src: "templates/frontend_dotenv.j2"
        dest: "../.env"

    # Download previous images, if exists, to use as cache
    - name: Download latest images
      local_action:
        module: ansible.builtin.shell
        cmd: docker compose -f docker/docker-compose.yml pull --ignore-pull-failures

    # Build images, the second compose build is for tag same images with latest
    - name: build images
      local_action:
        module: ansible.builtin.shell
        cmd: |
          export TAG=production && docker compose -f docker/docker-compose.yml build

    # NOTE: This task need to be logged to ghcr.io (GitHub Container Registry)
    - name: push images
      local_action:
        module: ansible.builtin.shell
        cmd: |
          export TAG=production && docker compose -f docker/docker-compose.yml push
