all:
  vars:
    ansible_connection: local

    name: taxomap
    domain: localhost
    deploy_user: "{{ lookup('env','USER') }}"
    service_path: /tmp/taxomap
    api_base_url: "http://localhost:8000/api/v1"

    use_external_proxy: false
    use_github_containers: false

    proxy:
      ports:
        - "80:80"

    docker:
      image_tag: "latest"
      restart_containers: "no"

    static_resources_host: "{{ lookup('env', 'TAXOMAP_BACKEND_HOST') | default() }}"

    database:
      name: taxomap
      postgres_password: postgres
      taxomap_user: taxomap
      taxomap_password: taxomap
      extra_ports:
        - "{{ lookup('env', 'TAXOMAP_DB_PORT') | default(5432, true) }}:5432"
      extra_volumes:
        - "../server/data/gbif-backbone-test.txt:/tmp/gbif-backbone.txt"
        - "../server/data/backbone_matching.csv:/tmp/backbone_matching.csv"

    backend:
      settings: project.settings.local
      django_superuser_password: 1234
      command: ["start_dev.sh"]
      extra_volumes:
        - "../server:/server"
      extra_ports:
        - "8000:80"

    geoserver:
      url: "http://{{ domain }}/geoserver"
      data_dir: ../devops/geoserver_data_dir
      admin_password: "geoserver"
      extra_ports:
        - "8090:8080"

    gdal:
      password: geoprocessing
      extra_ports:
        - "2222:22"

  hosts:
    localhost:
