all:
  vars:
    name: taxomap
    domain: taxomap.bioexplora.cat
    service_path: /srv/services/taxomap
    deploy_user: geomatico
    letsencrypt_mail: francisco.perez@geomatico.es
    api_base_url: "https://{{ domain }}/api/v1"

    use_proxy: true
    use_external_proxy: false


    geoserver:
      url: "https://{{ domain }}/geoserver"
      admin_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        33343134386635633333333463633062323839643031646663616439373864343232353834623634
        3465333966366130636332336662383966636332663932310a336339383234646665623366383836
        63333036363265613930356238643639343130386265306335343133366132363164393966666366
        6538343933333961640a353136343732346266346165303431353330343362646533306130356536
        37626364643761336465336536656663643637653730623632646136326434393438

    database:
      name: taxomap
      postgres_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        63323638313731636638333532303430353066653730646631363762366236313965316235396565
        6330353234393861383961353538613238386264383538330a653430326136633532353934343861
        31616630353966666238343739323434643164653037393634613437373365353238363764356438
        3933356232373766620a626131383237643738613061336432356633383761356561383736383064
        66323130633465326164623232646164663065396365316139343735383462336162
      taxomap_user: taxomap
      taxomap_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        66373462353832373632653234663139646565313933646537353536613239343566346332633238
        3137633339316632353331323931663962376632653639640a316564323330333539633532393966
        64613234666630393662666663373262646566306337303639373034323832313331626466303537
        3863633534316131350a303732623033663865366434653463333631373562336163653663353430
        63623139623837653130393963333236346362313236316434353637366363313434
      extra_volumes:
        - "{{ service_path }}/pgdata:/var/lib/postgresql/data"

    backend:
      settings: project.settings.prod
      command: ["start.sh"]
      allowed_hosts: "{{ domain }}"
      secret_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        31383835633336316463326463303732626361336262333564343932656566623663646237663835
        6231333437653430393163656263326563656363656166650a613639663461636638653634393730
        64373935303738343338376466376234343832306437353133613566613565326161626239393061
        3763396132323530640a313238656264306331613862386164623831653736643239353265333035
        65633139663766656435363232623463306334323064623366313265366661306637
      django_superuser_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        30663434663562393237313634303637313066323565373062313162383762656263363333373963
        6634663066303135363665613636643732656336643866370a323432316661646130343536346437
        62613337663034353835613764376634643565333837376630323134383563376433616465316663
        3331643365393962340a366164363538653631613161396464623764383130383939326337636535
        64373863336266363330626632316261346366323066613765636130303466363239

    gdal:
      password: geoprocessing

  hosts:
    localhost:
