all:
  vars:
    name: taxomap-staging
    domain: taxomap.geomatico.es
    service_path: /srv/services/taxomap-staging
    deploy_user: geomatico
    letsencrypt_mail: francisco.perez@geomatico.es
    api_base_url: "https://{{ domain }}/api/v1"

    api_url: "https://{{ domain }}/api/v1"

    use_external_proxy: true

    geoserver:
      url: "https://{{ domain }}/geoserver"
      data_dir: "{{ service_path }}/geoserver_data_dir"
      admin_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        65363439346536643337353938393234383361646635373462333361633939663234353965303161
        6332356361353532643533653539323837383166383535660a363236326337623764613838646333
        30613333316164346336383139393437313639313036316166646534626261323835313662613733
        3332313434633166330a386561346532376137376663386636633936343132386464303331663430
        38383234363438646539363038653064313937373963353230393038663832626236

    database:
      name: taxomap
      postgres_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        62616536343336303066333463366536373238383035326430656130383838393232353839303538
        6430626637633239313735663130333062333336623537650a323731353361653264316530636530
        38366362633863333530346438613566393931366165656334623163326531383962663661646465
        3864643263343736360a663862396236366539393034316433643239353738393764356436653635
        65366231653834303532323364356135656265336534666135306563373439356431
      taxomap_user: taxomap
      taxomap_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        33363031336466626263376538363338323561313462313835303963623439643765333132316433
        3630313563333939373332316435393639643137313063310a363964393963303739656135666132
        33666436613165633235653938393763626239333433636135376239613335343338643532353938
        3532633735613136320a356532323639353533343634656432303962373566646139626261613837
        62633761333263303361396239396366326239383765613238356464383430663332
      extra_volumes:
        - "{{ service_path }}/pgdata:/var/lib/postgresql/data"
        # TODO remove after migration
        - "{{ service_path }}/gbif-backbone.txt:/tmp/gbif-backbone.txt"

    backend:
      settings: project.settings.prod
      command: ["start.sh"]
      secret_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        37376131346162316331346137343165376535383363633562326632313736353666396136313365
        3635356532323466376136363665666633646461373662370a613861623131313138313961336336
        36313664653538633237663835373031376433346462626639663738353930333636323864303930
        3764353165666337310a376531663930336230613138333031346262396466333465346237333639
        35616239333161393438303836343164326639613837303864366564383139313634356466363033
        39343832313630623738313063646363363031303930313261663735333739613064356465616430
        37323938303835326564663464623730653734653564376461653735393239313562373432656138
        32643261653863656435
      allowed_hosts: "{{ domain }}"
      django_superuser_password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        61663430616663353863303536613361616231313262366532313030313866333966363937653866
        3061643964323163616539343362386235363664346439390a313532653466623233333064613166
        32383731323663306234326234623761613332653263616331306563656431336666383637626565
        3761373734653132660a656637343535653730353666623831613862626635393335653231626438
        31303362396137373734393462613933326630323665326638353965303130373263

    gdal:
      password: geoprocessing

  hosts:
    staging:
