node_modules/
dist/
storybook-static/
.env
stats.json

# IDEA
*.iml
.project
.idea/

# server
__pycache__

# devops
devops/docker-compose.yml
devops/geoserver_data_dir/security/usergroup/default/users.xml