version: '3.9'
services:
  taxomap-old-db:
    image: postgis/postgis:16-3.4-alpine
    container_name: taxomap-old-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TAXOMAP_DB: taxomap
      TAXOMAP_USER: taxomap
      TAXOMAP_PASSWORD: taxomap
    volumes:
      - ./initdb-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h 127.0.0.1 --dbname taxomap --username taxomap" ]
      interval: 2s
      timeout: 2s
      retries: 150
  taxomap-gdal:
    image: ghcr.io/osgeo/gdal:alpine-normal-3.7.2
    container_name: taxomap-gdal
    volumes:
      - taxomap_base_dir:/home
    stdin_open: true
    tty: true
    depends_on:
      taxomap-old-db:
        condition: service_healthy
volumes:
  taxomap_base_dir:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ../../
