version: '3.9'
services:
  taxomap-db:
    build: taxomap-db
    image: geomatico/taxomap-db:${TAG:-latest}
    container_name: taxomap-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TAXOMAP_DB: taxomap
      TAXOMAP_USER: taxomap
      TAXOMAP_PASSWORD: taxomap
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --dbname postgres --username postgres" ]
      interval: 2s
      timeout: 2s
      retries: 20
