version: '3.9'
services:
  taxomap-proxy:
    build: taxomap-proxy
    image: geomatico/taxomap-proxy:${TAG:-latest}
    container_name: taxomap-proxy
    ports:
      - 80:80
    depends_on:
      - taxomap-db
      - taxomap-geoserver
  taxomap-db:
    build: taxomap-db
    image: geomatico/taxomap-db:${TAG:-latest}
    container_name: taxomap-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TAXOMAP_DB: taxomap
      TAXOMAP_USER: taxomap
      TAXOMAP_PASSWORD: taxomap
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h 127.0.0.1 --dbname taxomap --username taxomap" ]
      interval: 2s
      timeout: 2s
      retries: 20
  taxomap-geoserver:
    build:
      dockerfile: devops/docker/taxomap-geoserver/Dockerfile
      context: ../../
    image: geomatico/taxomap-geoserver:${TAG:-latest}
    container_name: taxomap-geoserver
    depends_on:
      taxomap-db:
        condition: service_healthy
    environment:
      CUSTOM_UID: 1000
      CUSTOM_GID: 1000
      TAXOMAP_PASSWORD: taxomap
      PROXY_BASE_URL: http://localhost/geoserver
    volumes:
      - taxomap_geoserver_data_dir:/var/local/geoserver
volumes:
  taxomap_geoserver_data_dir:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ../../geoserver_data_dir
