@font-face {
    font-family: 'Geogrotesque-Regular';
    src: url('../fonts/geogtq-rg-webfont.eot');
    src: url('../fonts/geogtq-rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-rg-webfont.woff') format('woff'),
         url('../fonts/geogtq-rg-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-rg-webfont.svg#geogrotesque_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}