services:
  taxomap-proxy:
    image: ghcr.io/geomatico/taxomap-proxy:{{TAG}}
    container_name: taxomap-proxy
    restart: always
    ports:
      - "80:80"
    depends_on:
      - taxomap-db
      - taxomap-geoserver
      - taxomap-frontend
    networks:
      - internal
  taxomap-db:
    image: ghcr.io/geomatico/taxomap-db:{{TAG}}
    container_name: taxomap-db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "{{ postgres_pass }}"
      TAXOMAP_DB: taxomap
      TAXOMAP_USER: "{{ postgres_taxomap_user }}"
      TAXOMAP_PASSWORD: "{{ postgres_taxomap_pass }}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h 127.0.0.1 --dbname taxomap --username taxomap" ]
      interval: 2s
      timeout: 2s
      retries: 20
    networks:
      - internal
  taxomap-geoserver:
    image: ghcr.io/geomatico/taxomap-geoserver:{{TAG}}
    container_name: taxomap-geoserver
    restart: always
    depends_on:
      taxomap-db:
        condition: service_healthy
    environment:
      CUSTOM_UID: 1001
      CUSTOM_GID: 1001
      TAXOMAP_PASSWORD: {{ postgres_taxomap_pass }}
      GEOSERVER_ADMIN_PASSWORD: {{ geoserver_admin_pass }}
      PROXY_BASE_URL: {{ geoserver_url }}
    networks:
      - internal
  taxomap-frontend:
    image: ghcr.io/geomatico/taxomap-frontend:{{TAG}}
    container_name: taxomap-frontend
    restart: always
    depends_on:
      - taxomap-db
      - taxomap-geoserver
    networks:
      - internal
networks:
  internal:
    name: "{{ name }}"
