services:
{% if use_proxy is not defined or use_proxy %}
  taxomap-proxy:
{% if domain == 'taxomap.bioexplora.cat' %}
    image: ghcr.io/geomatico/{{ name }}-proxy:${TAG:-production}
{% else %}
    image: geomatico/{{ name }}-proxy:{{TAG}}
{% endif %}
{% if build_needed is not defined or build_needed %}
    build: docker/proxy
{% endif %}
    container_name: {{ name }}-proxy
    restart: {{ docker.restart_containers | default('always') }}
{% if use_external_proxy is not defined or use_external_proxy %}
    environment:
      - VIRTUAL_HOST={{ domain }}
      - LETSENCRYPT_HOST={{ domain }}
      - LETSENCRYPT_EMAIL={{ letsencrypt_mail | default('not_used') }}
{% endif %}
    volumes:
      - "{{ service_path }}/static:/static"
      - "{{ service_path }}/media:/media"
    depends_on:
      - taxomap-database
      - taxomap-frontend
      - taxomap-backend
{% if domain == 'localhost' or not use_external_proxy %}
    ports:
      - "80:80"
    networks:
      - internal
{% else %}
    networks:
{% if use_external_proxy is not defined or use_external_proxy %}
      - base-proxy
{% endif %}
      - internal
{% endif %}
{% endif %}

  taxomap-database:
{% if build_needed is not defined or build_needed %}
    build: docker/database
{% endif %}
{% if domain == 'taxomap.bioexplora.cat' %}
    image: ghcr.io/geomatico/{{ name }}-database:${TAG:-production}
{% else %}
    image: geomatico/{{ name }}-database:{{TAG}}
{% endif %}
    container_name: {{ name }}-database
    restart: {{ docker.restart_containers | default('always') }}
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "{{ database.postgres_password }}"
      TAXOMAP_DB: taxomap
      TAXOMAP_USER: "{{ database.taxomap_user }}"
      TAXOMAP_PASSWORD: "{{ database.taxomap_password }}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h 127.0.0.1 --dbname {{ database.name }} --username {{ database.taxomap_user }}" ]
      interval: 2s
      timeout: 2s
      retries: 20
    networks:
      - internal
{% if 'extra_volumes' in database %}
    volumes:
{% for volume in database.extra_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}
{% if 'extra_ports' in database %}
    ports:
{% for port in database.extra_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}

  taxomap-backend:
{% if domain == 'taxomap.bioexplora.cat' %}
    image: ghcr.io/geomatico/{{ name }}-backend:${TAG:-production}
{% else %}
    image: geomatico/{{ name }}-backend:{{TAG}}
{% endif %}
{% if build_needed is not defined or build_needed %}
    build:
      dockerfile: devops/docker/backend/Dockerfile
      context: ../
{% endif %}
    depends_on:
      taxomap-database:
        condition: service_healthy
      taxomap-gdal:
        condition: service_healthy
    container_name: {{ name }}-backend
    restart: {{ docker.restart_containers | default('always') }}
    command: {{ backend.command }}
    volumes:
      - "{{ service_path }}/static:/static"
      - "{{ service_path }}/media:/media"
      - "{{ service_path }}/gdal-shared:/gdal-outputs"
{% if 'extra_volumes' in backend %}
{% for volume in backend.extra_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}
{% if 'extra_ports' in backend %}
    ports:
{% for port in backend.extra_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    environment:
      DJANGO_SUPERUSER_PASSWORD: {{ backend.django_superuser_password | default() }}
      DJANGO_SETTINGS_MODULE: {{ backend.settings }}
      DATABASE_URL: postgis://{{ database.taxomap_user }}:{{ database.taxomap_password }}@{{ name }}-database:5432/{{ database.name }}
      DOMAIN: {{ domain }}
      DJANGO_ALLOWED_HOSTS: "{{ backend.allowed_hosts | default() }}"
      SECRET_KEY: {{ backend.secret_key | default() }}
      GDAL_HOST: {{ backend.gdal_host | default() }}
      GDAL_PORT: {{ backend.gdal_port | default() }}
      GDAL_PASSWORD: {{ gdal.password | default() }}
    networks:
      - internal

  taxomap-gdal:
{% if domain == 'taxomap.bioexplora.cat' %}
    image: ghcr.io/geomatico/{{ name }}-gdal:${TAG:-production}
{% else %}
    image: geomatico/{{ name }}-gdal:{{TAG}}
{% endif %}
    build: docker/gdal
    container_name: {{ name }}-gdal
    depends_on:
      taxomap-database:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "ogrinfo --version" ]
      interval: 2s
      timeout: 2s
      retries: 20
{% if 'extra_ports' in gdal %}
    ports:
{% for port in gdal.extra_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    volumes:
      - "{{ service_path }}/gdal-shared:/gdal-outputs"
    environment:
      GEOPROCESSING_PASSWORD: {{ gdal.password }}
    networks:
      - internal

{% if use_frontend is not defined or use_frontend %}
  taxomap-frontend:
{% if domain == 'taxomap.bioexplora.cat' %}
    image: ghcr.io/geomatico/{{ name }}-frontend:${TAG:-production}
{% else %}
    image: geomatico/{{ name }}-frontend:{{TAG}}
{% endif %}
{% if build_needed is not defined or build_needed %}
    build:
      dockerfile: devops/docker/frontend/Dockerfile
      context: ../
{% endif %}
    container_name: {{ name }}-frontend
    restart: {{ docker.restart_containers | default('always') }}
    depends_on:
      - taxomap-database
      - taxomap-geoserver
    networks:
      - internal
{% endif %}

{% if use_geoserver is not defined or use_geoserver %}
  taxomap-geoserver:
{% if domain == 'taxomap.bioexplora.cat' %}
    image: ghcr.io/geomatico/{{ name }}-geoserver:${TAG:-production}
{% else %}
    image: geomatico/{{ name }}-geoserver:{{TAG}}
{% endif %}
{% if build_needed is not defined or build_needed %}
    build:
      dockerfile: docker/geoserver/Dockerfile
      context: ./
{% endif %}
    container_name:  {{ name }}-geoserver
    restart: {{ docker.restart_containers | default('always') }}
    depends_on:
      taxomap-database:
        condition: service_healthy
    environment:
      CUSTOM_UID: 1001
      CUSTOM_GID: 1001
      TAXOMAP_PASSWORD: {{ database.taxomap_password }}
      GEOSERVER_ADMIN_PASSWORD: {{ geoserver.admin_password }}
      PROXY_BASE_URL: {{ geoserver.url }}
{% if 'extra_ports' in geoserver %}
    ports:
{% for port in geoserver.extra_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    networks:
      - internal
{% endif %}

networks:
{% if use_external_proxy is not defined or use_external_proxy %}
  base-proxy:
    external: true
    name: base-proxy
{% endif %}
  internal:
    name: {{ name }}-internal
