name: Devops tests
on:
  pull_request:
    paths:
      - devops/**/*

jobs:
  devops-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Create ansible vault file
      run: |
        echo '${{ secrets.ANSIBLE_STAGING_VAULT }}' > ~/.vaultfile_staging
        echo '${{ secrets.ANSIBLE_PRODUCTION_VAULT }}' > ~/.vaultfile_production

    - name: Render templates
      working-directory: devops
      env:
        ANSIBLE_HOST_KEY_CHECKING: False
      run: |
        for inventory in ls inventories/*.yml; do
          if [ $inventory == 'inventories/prod.yml' ]; then 
            export ANSIBLE_VAULT_PASSWORD_FILE=~/.vaultfile_production
          else
            export ANSIBLE_VAULT_PASSWORD_FILE=~/.vaultfile_staging
          fi
          echo "======= Rendering templates for inventory: $inventory ======="
          ansible-playbook -c local -i $inventory render-templates.yml;
        done